@font-face {
  font-family: "iconfont"; /* Project id 3944501 */
  src: url('iconfont.woff2?t=1680515431736') format('woff2'),
       url('iconfont.woff?t=1680515431736') format('woff'),
       url('iconfont.ttf?t=1680515431736') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinliang:before {
  content: "\e87a";
}

.icon-xingzhuang-tuoyuanxing:before {
  content: "\eb99";
}

.icon-24gf-pause2:before {
  content: "\ea81";
}

.icon-24gf-play:before {
  content: "\ea82";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-level:before {
  content: "\e617";
}

.icon-nv1:before {
  content: "\e667";
}

.icon-nanxing:before {
  content: "\e638";
}

.icon-play:before {
  content: "\e67a";
}

.icon-tuichu:before {
  content: "\e618";
}

.icon-aixin:before {
  content: "\eca1";
}

.icon-Profile:before {
  content: "\e616";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-github-fill:before {
  content: "\e885";
}

.icon-gitee-fill-round:before {
  content: "\e686";
}

.icon-yanjing:before {
  content: "\e661";
}

.icon-yincang:before {
  content: "\e619";
}

